.rotate-90{ transform: rotate(90deg); transform-origin: center; }
.rotate-180{ transform: rotate(180deg); transform-origin: center; }
.rotate-270{ transform: rotate(270deg); transform-origin: center; }

/* fill image by respecting the height ratio */
.fill-h{
    img{
        object-fit: cover;
        height: 100%;
        width: auto;
        max-width: none;
    }
}
